.addHeader {
  width: 100%;
}

.addHeader button {
  width: 50%;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  border-radius: 18px;
}

.addMain {
  padding: 12px 12px 12px 12px;
}

.addMain textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 12px 0;
  padding: 12px;
  font-size: 18px;
  resize: vertical;
  padding: 24px 12px 24px 12px;
  border-radius: 18px;
  overflow-inline: scroll;
}

.save-btn {
  width: 50%;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  border-radius: 18px;
  margin-bottom: 24px;
}
