@import url("https://googleapis.com");
@import "tailwindcss";

:root {
  /* spacing system (KEY UPGRADE) */
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 40px;
  --space-7: 48px;
  --space-8: 56px;
  --space-9: 64px;
  --space-10: 72px;

  --bg: #f7f4ed;
  --surface: #fcfaf7;
  --text: #252525;
  --muted: #777;

  --sage1: #b6c1b0;
  --sage2: #a8b4a2;

  --sand1: #e2ccb2;
  --sand2: #d4bb9c;

  --slate1: #8592a4;
  --slate2: #717f92;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: #f4f4f4;
}

.playfair-text {
  font-family: "Playfair Display", serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: none;
  border: none;
  color: #6d655d;
  cursor: pointer;
  padding: 48px 0px 48px 0px;
}

main {
  padding-top: var(--space-10);
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: var(--space-3);

  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

section {
  bottom: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.background-glow {
  position: fixed;
  width: 700px;
  height: 700px;

  left: 50%;
  top: 10%;
  transform: translateX(-50%);

  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.75),
    transparent 65%
  );

  filter: blur(80px);
  z-index: -1;
}
